/* Start Body And Root  */
:root{
    --main-color:#D22E2E;
}
body{
    margin: 0;
    padding: 0;
}
/* End Body And Root  */

/* Start ShopInfo */
.shop .product-main{
    background-color: #F6F6F6;
    padding: 40px 0;
}
.shop .product-main .product-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shop .product-main .product-details h2{
    margin: 0;
    font-size: 35px;
    font-weight: bold;
    font-family: arial;
}
.shop .product-main .product-details div , .shop .product-main .product-details div a{
    color: #CFCFD8;
}
.shop .product-main .product-details div a{
    text-decoration: none;
}
.shop .product-main .product-details div a:first-child:hover{
    color: var(--main-color)
}

.shop .products{
    padding: 80px 0;
}
.shop .products .first-row{
    gap: 5%;
}
.shop .products .first-row .show{
    width: 75%;
}
.shop .products .first-row .filters{
    width: 20%
}
.shop .products .first-row .show , .shop .products .first-row .filters {
    padding: 0;
}
.shop .products .first-row .show .interface{
    display: flex;
    justify-content: space-between;
    border: 1px solid #e5e5e5;
    padding: 15px;
}
.shop .products .first-row .show .interface .one ,.shop .products .first-row .show .interface .two{
    display: flex;
    align-items: center;
}
.shop .products .first-row .show p{
    margin: 0;
    font-weight: bold;
}
.shop .products .first-row .show select {
    padding: 5px 0px;
    padding-right: 20px;
    padding-left: 10px;
    border: 1px solid #e5e5e5;
    color: #999999;
    margin-left: 10px;
    outline: none;
}
.shop .products .first-row .show .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}
.shop .products .first-row .show .main img{
    width: 100%;
}
.shop .products .first-row .show .main .content-text{
    margin-top: 20px;
}
.shop .products .first-row .show .main .content-text p {
    margin-bottom: 10px;
    font-size: 12px;
    cursor: pointer;
}
.shop .products .first-row .show .main .content-text h4{
    cursor: pointer;
}
.shop .products .first-row .show .main .content-text span{
    color: var(--main-color);
    font-weight: bold;
}
.shop .products .first-row .show .main .content-text p:hover , .shop .products .first-row .show .main .content-text h4:hover{
    color: var(--main-color);
}
.shop .products .first-row .show .numbers{
    display: flex;
    margin: 40px 0;
}
.shop .products .first-row .show .numbers p {
    background-color: #f6f6f6;
    color: #666666;
    padding: 10px 20px;
    margin-right: 2%;
}
.shop .products .first-row .show .numbers p:first-child{
    color:#fff;
    background-color: var(--main-color);
}
.shop .products .first-row .show .numbers p:not(:first-child){
    cursor: pointer;
}
.shop .products .first-row .show .numbers p:not(:first-child):hover{
    background-color: var(--main-color);
    color: #fff;
}
.shop .products .first-row .filters .categories h4{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}
.shop .products .first-row .filters .categories ul{
    margin: 0;
}
.shop .products .first-row .filters .categories ul li{
    list-style: none;
    margin-left: -30px;
    cursor: pointer;
    margin-bottom: 15px;
} 
.shop .products .first-row .filters .categories ul li svg {
    margin-right: 6px;
    font-size: 12px;
    color: var(--main-color);
}
.shop .products .first-row .filters .categories ul li a{
    color: #666666 !important;
}
.shop .products .first-row .filters .categories ul li a:hover{
    color: var(--main-color) !important;
}
.shop .products .first-row .filters .filter-price h4{
    font-size: 20px;
    font-weight: bold;
    margin: 30px 0;
}
.shop .products .first-row .filters .filter-price .range{
    display: flex;
    align-items: center;
}
.shop .products .first-row .filters .filter-price .range p {
    font-weight: bold;
}
.shop .products .first-row .filters .filter-price input {
    width: 80px;
    height: 20px;
    outline: none;
}
.shop .products .first-row .filters .filter-price h5{
    font-size: 16px;
}
.shop .products .first-row .filters .filter-price h5 span{
    color: var(--main-color);
}
.shop .products .first-row .filters .filter-price button{
    background-color: var(--main-color);
    padding: 10px;
    border-radius: 12px;
    width: 100%;
    outline: none;
    border: none;
    color: #Fff;
    font-weight: bold;
    margin-top: 20px;
}
.shop .products .first-row .filters .brand h4{
    font-size: 20px;
    font-weight: bold;
    margin: 30px 0;
}
.shop .products .first-row .filters .brand div{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
}
.shop .products .first-row .filters .brand div a {
    margin-left: 10px;
    color: #666666 !important;
}
@media screen and (max-width:575px) {
    .shop .products .first-row .show .main{
        width: 50%;
        margin-bottom: 30px;
    }
    .shop .products{
        padding: 50px 0;
    }
    .shop .products .first-row .show,.shop .products .first-row .filters{
        width: 100%;
    }
    .shop .products .first-row .show{
        padding: 20px;
    }
    .shop .products .first-row .filters{
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }
    .shop .products .first-row .filters .filter-price h4 , .shop .products .first-row .filters .brand h4{
        margin-top: -5px;
        margin-bottom: 30px;
    }
}
@media screen and (max-width:767px) {
    .shop .products .first-row .show .interface {
        display: block;
    }
    .shop .products .first-row .show .interface .one {
        margin-bottom: 30px
    }
}
/* End ShopInfo */